<h1>Leaderboard</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= sortable "name" %></th>
          <th><%= sortable "win_count", "Wins" %></th>
          <th><%= sortable "loss_count", "Losses" %></th>
          <th><%= sortable "win_percentage", "Win %" %></th>
          <th>Streak</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do | player | %>

          <% if player.is_not_retired %>
          <tr>
            <td><%= link_to player.name, player %></td>
            <td class="center"><%= player.win_count %></td>
            <td class="center"><%= player.loss_count %></td>
            <td class="center"><%= number_with_precision(player.win_percent, :precision => 3) %></td>
            <td class="center<%= curr_streak(player) == true ? " text-success" : " text-error" %>"><%= streak(player) %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
